/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #000433;
    color: #fff;
    display: flex;
    /* Ativa flexbox no body */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: flex-start;
    /* Alinha no topo */

}

header {
    width: 100%;
    height: 10%;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    /* Centraliza os itens no eixo vertical */
    z-index: 1000;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    padding: 0 40px;
    box-sizing: border-box;
    /* Inclui o padding no tamanho total */
}

/* Links do Cabeçalho */
.header-menu {
    display: flex;
    gap: 30px;
}

.header-menu a {
    color: black;
    transition: .2s;
}

.header-menu a:hover {
    color: rgb(165, 142, 142);
}

/* botão cabeçalho */
.btn {
    display: flex;
    /* Torna o botão um contêiner flexível */
    margin-bottom: 4%;
    margin-left: 20px;
}

.custom-btn {
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-12 {
    border: none;
    line-height: 42px;
    font-size: 18px;
}

.btn-12 span {
    background: rgb(200, 23, 23);
    background: linear-gradient(0deg, rgba(200, 23, 23, 1) 0%, rgb(243, 6, 6) 100%);
    display: block;
    position: absolute;
    width: 130px;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}


.btn-12:hover span:nth-child(2) {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


/* logo e social midia */
.logo-e-social-midia {
    display: flex;
    margin-left: auto;
    /* Empurra a logo para o lado direito */
    gap: 20px;
}

.logo-e-social-midia li {
    margin-top: 25px;
}

/* social midia efeito*/
.linkedin {
    filter: grayscale(100%);
    /* Escala de cinza */
    transition: filter 0.5s ease;
    /* Transição suave */
}

.linkedin:hover {
    filter: grayscale(0%);
    transform: scale(1.2)
}

.ghb {
    filter: grayscale(100%);
    /* Escala de cinza */
    transition: filter 0.5s ease;
    /* Transição suave */
}

.ghb:hover {
    filter: grayscale(0%);
    transform: scale(1.2)
}

.facebook {
    filter: grayscale(100%);
    /* Escala de cinza */
    transition: filter 0.5s ease;
    /* Transição suave */
}

.facebook:hover {
    filter: grayscale(0%);
    transform: scale(1.2)
}

.instagram {
    filter: grayscale(100%);
    /* Escala de cinza */
    transition: filter 0.5s ease;
    /* Transição suave */
}

.instagram:hover {
    filter: grayscale(0%);
    transform: scale(1.2)
}

/* menu-mobile */
.btn-open-menu i {
    display: none;
    color: #000000;
    font-size: 3rem;
    cursor: pointer;
}

.menu-mobile {
    background-color: rgba(255, 255, 255, 0.993);
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile .btn-closed-menu {
    position: absolute;
    top: 2%;
    right: 5%;
    /* Posiciona o ícone à direita */
}

.menu-mobile .btn-closed-menu i {
    color: #080807;
    /* Cor do ícone (laranja, por exemplo) */
    font-size: 2.5rem;
    /* Tamanho razoável do ícone */
    left: 0%;
    cursor: pointer;
    /* Adiciona o ponteiro ao passar o mouse, indicando que é interativo */
}

.menu-mobile nav ul {
    text-align: left;
    margin-top: 4rem;
}

.menu-mobile nav ul li a {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 3% 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #b0b0b0;
    color: #fff;
}

.social-midia-menu-mobile{
    margin-left: 10%;
    gap: 13%;
    display: flex;
    margin-top: 20%;

}

.overlay-menu {
    background-color: #fcfbfb7a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 888888;
    display: none;
}

/* imagem de fundo */
.lampada {
    width: auto;
    height: 100vh;
    position: relative;
    /* Alterado para 'relative' para não sair da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    position: absolute;
    /* Permite posicionar o texto sobre qualquer elemento */
    top: 0;
    /* Alinha o texto ao topo */
    left: 0;
    width: 100%;
    /* Faz o bloco de texto ocupar toda a largura */
    display: flex;
    /* Usa flexbox para alinhar o conteúdo */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: flex-start;
    /* Mantém o conteúdo no topo (flex-start) */
    padding-top: 5%;
    /* Espaçamento entre o topo e o texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Adiciona sombra ao texto */
    z-index: 2;
    /* Garante que o texto fique acima da imagem */

}

#idea,
#code {
    padding: 0% 11%;
}

#solution,
#creation {
    padding: 0% 6%;
}

/* Estilo das palavras */
.word {
    font-size: 4rem;
    /* Começa pequena */
    font-weight: bold;
    opacity: 0;
    /* Começa invisível */
    position: absolute;
    animation: growAndFade 12s infinite;
    /* A animação dura 4s e se repete infinitamente */
}

/* Animação para as palavras crescerem e desaparecerem */
@keyframes growAndFade {
    0% {
        opacity: 0;
        font-size: 1rem;
    }

    25% {
        opacity: 1;
        font-size: 6rem;
    }


    50% {
        opacity: 0;
        font-size: 6rem;
    }


}

/* Ajustando o tempo de delay para cada palavra */
.word:nth-child(1) {
    animation-delay: 0s;
    /* A palavra "Idea" começa imediatamente */
}


.word:nth-child(2) {
    animation-delay: 3s;
    /* A palavra "Code" começa após 1 segundo */
}

.word:nth-child(3) {
    animation-delay: 6s;
    /* A palavra "Creation" começa após 2 segundos */
}

.word:nth-child(4) {
    animation-delay: 9s;
    /* A palavra "Solution" começa após 3 segundos */
}

/* About me */
.container-about {
    display: flex;
    /* Habilita Flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Altura da tela */
    width: 100%;
    overflow: hidden;
    /* Garante que nada ultrapasse os limites da section */
    padding: 3rem;
}

.container-about img {
    position: relative;
    max-width: 100%;
    /* Garante que a largura da imagem não ultrapasse o contêiner */
    max-height: 100%;
    /* Garante que a altura da imagem não ultrapasse o contêiner */
    object-fit: contain;
    /* Mantém a imagem dentro da área sem distorções */
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 40px;
    }
}

.txt-about h2 {
    font-size: 2.8vw;
    text-align: justify;
}

.txt-about p {
    font-size: 2vw;
    text-align: justify;
}

.txt-about h3 {
    font-size: 2vw;
    text-align: center;
}

.txtGray {
    color: #7f7f7f;
}

/* Works */
.construction {
    width: 100%;
    height: 100vh;
    position: relative;
    /* Alterado para 'relative' para não sair da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

.construction img {
    max-width: 100%;
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: contain;
    /* Ajusta a imagem para que ela se encaixe dentro da section */
}

/* education */
/* Centraliza o container na página */
.container {
    display: flex;
    /* Habilita Flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Altura da tela */
}

/* Cria o quadrado com borda e fundo transparente */
.transparent-box {
    width: 85%;
    height: 40%;
    border: 0.2rem solid white;
    /* Define a borda branca */
    box-shadow: 0 0rem 1rem rgba(255, 255, 255, 0.5);
    /* Sombra branca */
    position: absolute;
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    /* Fundo transparente */
    cursor: pointer;
}

.education li {
    margin-top: 10%;

}

.education img {
    width: 30%;
}

.text-overlay {
    width: 95%;
    position: absolute;
    text-align: center;
    justify-items: auto;
    top: 45%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a posição */
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    /* Invisível por padrão */
    transition: opacity 0.3s ease;
    /* Transição suave */
}

.image-with-text:hover.text-overlay {
    opacity: 1;
    /* Mostra o texto ao passar o mouse */
}

/* flags */
.flags {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 30%;
    /* Usa 100% da largura disponível */
    margin-top: 40%;
    /* Distância das bandeiras em relação à transparent-box */
}

/* formulario */
.field label {
    font-size: 1.4rem;
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 2.5rem;
    width: 25rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 0.2rem solid #b0b0b0;
    outline: none;
    margin-bottom: 1.2rem;
    /* Espaçamento entre os campos */
    font-size: 1.3rem;
}

textarea {
    line-height: 20px;
    padding: 0.9rem;
    height: 7.5rem;
    width: 25rem;
    resize: none;
    font-size: 1.3rem;
}

input[type=submit] {
    display: block;
    background-color: #ffffff;
    color: #000000;
    height: 2.6rem;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 8.1rem;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.9rem;
}

.container-form {
    margin-top: 6rem;
    /* borda do formulario */
    border: 0.1rem solid white;
    display: flex;
    /* Habilita flexbox */
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    padding: 1.25rem;
    /* Espaçamento interno */
}


/* footer */
footer {
    flex-direction: column;
    /* Organiza os itens em uma coluna (verticalmente) */
    padding: 1rem;
    /* Ajusta o espaçamento ao redor do footer */
}

/* Estilos para o container de contatos */
.container-contato {
    display: flex;
    /* Ativa o Flexbox */
    gap: 7%;
    /* Adiciona um espaçamento de 3rem entre os links */
}

/* Estilos para cada link */
.container-contato a {
    display: flex;
    /* Exibe a imagem e o texto em linha */
    align-items: center;
    /* Alinha verticalmente os itens no centro */
    color: #333;
    /* Cor do texto */
}

/* Estilos para as imagens dentro dos links */
.container-contato a img {
    width: 40px;
    /* Define o tamanho das imagens */
    height: auto;
    /* Mantém a proporção das imagens */
    margin-right: 1rem;
    /* Adiciona um espaçamento entre a imagem e o texto */
}

/* Estilos para os textos dentro dos links */
.container-contato a h2 {
    font-size: 1.2rem;
    /* Ajusta o tamanho da fonte dos textos */
}

/* O texto Henrique fica no topo */
.container-contato p {
    font-size: 1.2rem;
    /* Ajusta o tamanho da fonte do texto */
    color: #333;
    /* Cor do texto */
    display: flex;
    /* Exibe a imagem e o texto em linha */
    align-items: center;
    /* Alinha verticalmente os itens no centro */

}

/* responsivo */
/* Adicionando um ajuste específico para dispositivos menores */
@media (max-width: 902px) {

    /* headear */
    header {
        height: 15%;
        padding: 0 15px;

    }

    .menuDesktop,
    .btn,
    .logo-e-social-midia li {
        display: none;
    }

    /* menu mobile */
    .menu-mobile.open-menu {
        width: 70%;
    }

    .menu-mobile.open-menu~.overlay-menu {
        display: block;
    }

    .btn-open-menu i {
        display: block;
    }

    /* topo do site */
    .lampada {
        height: 70vh;
        margin-top: 20%;
    }

    @keyframes growAndFade {
        0% {
            opacity: 0;
            font-size: 1rem;
        }

        25% {
            opacity: 1;
            font-size: 4rem;
        }


        50% {
            opacity: 0;
            font-size: 4rem;
        }


    }

    .texto {
        padding-top: 20%;
    }

    /* about-me */
    .container-about {
        flex-direction: column-reverse;
        padding: 1rem;
    }

    .container-about img {
        padding: 5% 0%;
    }

    .txt-about h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .txt-about p {
        font-size: 1.2rem;
        text-align: center;
    }

    .txt-about h3 {
        font-size: 1.2rem;
    }

    /* education */
    .transparent-box {
        height: 70%;
    }

    .flags {
        margin-top: 100%;
        /* Distância das bandeiras em relação à transparent-box */
    }

    /* formulario */
    .field label {
        font-size: 1rem;
    }

    input[type=text],
    input[type=email],
    textarea {
        height: 1.8rem;
        width: 17rem;
    }

    textarea {
        line-height: 20px;
        height: 9rem;
    }

    /* footer */

    .container-contato {
        flex-direction: column;
        gap: 2rem;
    }

}